.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  font-size: 14px;
  color: white;
  padding: 20px;
  text-align: right;
  overflow: hidden;
}

.App-header a {
  float: left;
}

#welcome-text {
  padding: 20px;
}

.Options {
  margin-left: 30px;
  padding: 5px;
}
